{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/register.css' %}">
    <title>Регистрация</title>
</head>
<body id="particles-js">
    <div class="starsec"></div>
    <div class="starthird"></div>
    <div class="starfourth"></div>
    <div class="starfifth"></div>
    <div class="container">
        <span class="error animated tada" id="msg"></span>
        <form name="form1" class="box" onsubmit="checkStuff(event); return false;" method="post">
            {% csrf_token %}
            <h4>Admin<span>Dashboard</span></h4>
            <h5>Зарегистрировать аккаунт.</h5>
            <input type="text" name="username" placeholder="Никнейм" required>
            <input type="email" name="email" placeholder="Почта" required>
            <input type="password" name="password1" placeholder="Пароль" required>
            <input type="password" name="password2" placeholder="Повторите пароль" required>
            <input type="submit" value="Зарегистрироваться" class="btn1">
        </form>
        <a href="{% url 'login' %}" class="dnthave">Уже есть аккаунт? Войти</a>
    </div>
    <script src="{% static 'main/js/register.js' %}"></script>
</body>
</html>