{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Создание новой ссылки{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'main/css/create.css' %}">
{% endblock head %}

{% block content %}
<div class="form-container">
    <h1>СОЗДАНИЕ НОВОЙ ССЫЛКИ</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <!-- ManagementForm для ActionFormSet -->
    {{ action_formset.management_form }}


        <!-- Выбор типа контента -->
        <div class="content-selector">
            <div class="content-button active" id="linkButton">
                <a href="#" class="content-button-text-link"><i class="fa-solid fa-link"></i> Ссылка</a>
            </div>
            <div class="content-button" id="textButton">
                <a href="#" class="content-button-text-text"><i class="fa-solid fa-font"></i> Текст</a>
            </div>
        </div>

        <!-- Скрытое поле для определения типа контента -->
        <input type="hidden" name="content_type" id="content_type" value="link">

        <!-- Поля для "Ссылка" -->
        <div id="linkContent" style="display: block;">
            <input type="text" name="link_title" class="input-field" placeholder="Введите заголовок ссылки... *" required>
            <input type="url" name="link_url" class="input-field" placeholder="Введите ссылку... *" required>
        </div>

        <div id="textContent" style="display: none;">
            <input type="text" name="text_title" class="input-field" placeholder="Введите заголовок текста... *">
            <textarea name="text_unlocking" class="input-field" placeholder="Введите текст... *"></textarea>
        </div>


        <!-- Добавление действий -->
        <div class="action-container">
            <span class="add-action-text"><i class="fa-solid fa-trophy"></i> Добавить действие</span>
            <button type="button" class="action-container-button" id="actionButton">Действие</button>
        </div>

        <!-- Динамическое добавление действий -->
        <div id="newActionsContainer" class="new-actions-container"></div>

        <!-- Модальное окно для выбора действия -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Выберите действие:</p>
                <button type="button" class="menu-item" data-action="channel"><i class="fa-brands fa-youtube"></i> Подписаться на канал</button>
                <button type="button" class="menu-item" data-action="video"><i class="fa-brands fa-youtube"></i> Поставить лайк на видео</button>
                <button type="button" class="menu-item" data-action="comment"><i class="fa-brands fa-youtube"></i> Оставить комментарий</button>
                <button type="button" class="menu-item" data-action="watch"><i class="fa-brands fa-youtube"></i> Посмотреть видео 30 секунд</button>
            </div>
        </div>

        <!-- Дизайн страницы -->
        <div class="accordion">
            <button type="button" class="accordion-toggle" id="toggle-photo">
                <i class="fa-solid fa-pen"></i> Дизайн страницы
                <i class="fa-solid fa-arrow-down" id="arrow-icon"></i>
            </button>
            <div class="accordion-content" id="photo-content" style="display: none;">
                <div class="cover-image-container">
                    <label class="cover-image-label"><i class="fa-solid fa-image"></i> Изображение страницы</label>
                    <input type="file" name="image" id="photo-upload" class="file-input" hidden>
                    <input type="text" class="file-display-input" placeholder="Файл не выбран" readonly>
                    <label for="photo-upload" class="file-select-button">Загрузить</label>
                </div>
            </div>
        </div>

        <!-- Дополнительные настройки -->
        <div class="accordion">
            <button type="button" class="accordion-toggle accordion-toggle-settings" id="toggle-settings">
                <i class="fa-solid fa-gears"></i> Дополнительные настройки
                <i class="fa-solid fa-arrow-down arrow-icon-settings"></i>
            </button>
            <div class="accordion-content accordion-content-settings" id="settings-content" style="display: none;">
                <label class="cover-image-label"><i class="fa-solid fa-closed-captioning"></i> Описание страницы</label>
                <textarea name="description" class="input-field settings-input" placeholder="Введите описание страницы..."></textarea>
            </div>
        </div>

        <!-- Скрытые поля для управления ActionFormSet -->
        {{ action_formset.management_form }}
        {% for form in action_formset %}
        <div class="hidden-action-form">
            {{ form }}
        </div>
        {% endfor %}

        <button type="submit" class="submit-button">Отправить</button>
    </form>
</div>

<script src="{% static 'main/js/create.js' %}"></script>
{% endblock %}