{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <h1>Про нас</h1>
    <p>Про нас</p>
{% endblock %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>О нас</title>
</head>
<body>
    <h1>О нас</h1>
    <p>О нас</p>

</body>
</html>